<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Basic React App</title>
  </head>
  <body>

  </body>

  <script type="text/javascript" src="../public/js/bundle.js"></script>
</html>
